<div class="container">
  <div class="row">
    <h4 class="col-12"><%= @user.name %>さんの進行中の依頼</h4>
      <% @requests.each do |request| %>
        <% if request.datetime > DateTime.now %>
          <%= render "users/participant_histories/participant_box", request: request %>
        <% end %>
      <% end %>
  </div>
  <div class="row">
    <h4 class="col-12"><%= @user.name %>さんの終了した依頼</h4>
      <% @requests.each do |request| %>
        <% if request.datetime <= DateTime.now %>
          <%= render "users/participant_histories/participant_box", request: request %>
        <% end %>
      <% end %>
  </div>
</div>