<div class="container">
  <div class="row">
    <h4 class="col-12"><%= current_user.name %>さんのキープリスト</h4>
    <% @keeps.each do |keep| %>
      <%= render "users/participant_histories/participant_box", request: keep.request %>
    <% end %>
  </div>
</div>