<div class="jumbotron home">
	<h1 class="display-4" style="border: none; font-weight: bolder;">「助っ人参上っっ！」</h1>
	<p class="lead">一度はこんなこと言ってみたくないですか？<br>そんな夢を叶えられるチャンスがここにはあります。</p>
	<%= link_to "M I N S U K E について >>", about_path, class: "btn btn-outline-danger" %>
</div>