<div class="jumbotron home">
	<h1 class="display-4">Let's become a <strong>"Suketto"</strong>!</h1>
	<p class="lead">「みんなの助っ人」になってみませんか？</p>
	<%= link_to "M I N S U K E について >>", about_path, class: "btn btn-info", style: "font-weight: 900;" %>
</div>