// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.home {
	text-align: center;
	height: 400px;
	background-image: url(4365516_m.jpg);
	background-position: center;
	background-size: cover;
	opacity : 1.0;
	h1 {
		text-align: center;
		margin-top: 100px;
	}
}

.container {
	.about-site {
		text-align: center;
		margin-bottom: 30px;
	}
	.top-item1 {
		background-color: #f8f9fa;
		.explanation {
			margin-bottom: 30px;
		}
	}
}

.top-item2, .container-fluid {
	h2 {
		text-align: center;
		margin-bottom: 30px;
	}
	background-color: #fff;
	.about-item {
		text-align: center;
		.item {
			background-color: #fff;
			padding: 0 30px 30px 30px;
		}
		.top-img {
			background-position: center;
			background-repeat: no-repeat;
			height: 150px;
		}
		.top-img1 {
			background-image: url(request.jpg);
		}
		.top-img2 {
			background-image: url(suketto.jpg);
		}
		.top-img3 {
			background-image: url(chat.jpg);
		}
		.top-img4 {
			background-image: url(ticket.jpg);
		}
	}
}


.midashi {
	margin-bottom: 5px;
	font-weight: bold;
	border-bottom: 2px solid #000;
}

.usage {
	font-weight: bolder;
}

.about {
	margin-top: 60px;
	.request-info {
		width: 100px;
		height: 150px;
		text-align: center;
		background-image: url(request.jpg);
		background-repeat: no-repeat;
	}
}

.about-btn {
	text-align: center;
}