// Place all the styles related to the users::requests controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.error-message {
  padding: 5px;
  margin-bottom: 15px;
  color: red;
}

.ggg {
  width: 100%;
  height: 200px;
}

.requests-box {
  border: 1px solid #DDDDDD;
  padding: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.request-info {
  h4 {
    border-left: 5px solid #000033;
    padding: 10px;
  }
  .request-content {
    word-break: break-all;
  }
}

.request-img {
  height: 250px;
  width: 100%;
  border-bottom: none;
}

.search-form {
  width: 80%;
  color: #fff;
  background-color: #000033;
  padding: 15px;
  border-radius: 15px 15px 0 0;
}

.req-box {
  position: relative;
  text-decoration: none;
  .req-badge {
    position: absolute;
    top: 0;
    left: 5px;
  }
  background-color: #fff;
  padding: 10px 0;
  .req-img {
    .thumbnail {
      width: 100%;
      height: 150px;
    }
  }
  .req-text {
    p {
      margin: 5px 0 0 0;
      padding: 0;
      text-decoration: none;
      color: #000;
      word-break: break-all;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
    .title {
      font-weight: bold;
    }
  }
}

.fa-trash, .fa-edit {
  padding : 0 5px;
}


.background {
  background-image: url("4481879_m.jpg");
}

.modal-dialog {
  .modal-header {
    border-bottom: none;
    text-align: center;
    padding: 5px;
    background-color: red;
  }

  .modal-title,
  button.close {
    display: none;
  }

  .modal-body {
    text-align: center;
    font-size: 20px;
    padding: 30px 0 5px;
  }

  .fa-exclamation-circle:before {
      color: red;
      font-size: 40px;
      padding: 5px;
      position: relative;
      top: 5px;
  }

  .modal-footer {
    border-top: none;
  }

  .btn-danger {
    background-color: #f97773;
    border-color: #f97773;
  }
}

.request-about {
  background-color: #fff;
  border: 1px solid #000033;
  margin-bottom: 10px;
  h4 {
    background-color: #000033;
    color: #fff;
    padding: 10px;
    margin: 0;
  }
  div {
    padding: 10px;
    p {
      margin: 0;
    }
  }
}

.request-suketto-box {
  border: 1px solid #000033;
  margin-bottom: 20px;
  padding: 0;
  .request-suketto-title {
    display: flex;
    background-color: #000033;
    color: #fff;
    h4 {
      padding: 10px;
      margin: 0;
    }
    p {
      margin: 10px 10px 10px auto;
    }
  }
  .request-suketto {
    background-color: #fff;
    display: flex;
    p {
      margin: 0;
      padding: 5px 10px;
    }
    border-top: 1px solid #000033;
    .eval-btn {
      margin-left: auto;
    }
  }
}

.caution {
  text-align: left;
  margin-top: 10px;
  p {
    font-size: 12px;
  }
}
