// Place all the styles related to the users::users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.notice-message {
	padding: 5px;
	margin-bottom: 15px;
	color: green;
}

h4 {
	border-left: 5px solid #000033;
    padding: 10px;
    font-weight: bolder;
}

.user-info {
	margin-bottom: 30px;
	text-align: center;
	padding: 20px;
	.prof-img {
		border-radius: 50%;
	}
	.user-text {
		text-align: left;
		.introduction {
	    	word-break: break-all;
		}
	}
}

.user-request {
	padding-bottom:30px;
}