// Place all the styles related to the users::users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.notice-message {
	padding: 5px;
	margin-bottom: 15px;
	color: green;
}

.user-info {
	margin: 30px 0;
	text-align: center;
	border: 1px solid #DDDDDD;
	padding: 20px;
	.prof-img {
		border-radius: 50%;
	}
	.user-text {
		text-align: left;
		.introduction {
	    	word-break: break-all;
		}
	}
}

.table-title {
	margin-top: 20px;
}