// Place all the styles related to the users::users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.user-info {
	background-color: #000033;
	h1 {
		color: #fff;
		margin: 0;
		padding: 0;
	}
	text-align: center;
	padding: 20px;
	.prof-img {
		border-radius: 50%;
		border: 2px solid #fff;
	}
	border: 1px solid #000033;
}

.user-text {
	p {
		margin: 0;
	}
	text-align: left;
	.introduction {
	  word-break: break-all;
	  padding: 5px 10px;
	  color: #fff;
	}
	.horizontal-list {
		overflow-x: auto;
		white-space: nowrap;
		-webkit-overflow-scrolling: touch;
		.evaluation-item {
			display: inline-block;
		}
	}
}

.eval-chart {
	padding: 10px 0;
	background-color: #fff;
	border: 1px solid #000033;
}

.user-request {
	padding-bottom: 30px;
}