<div class="col-12 col-md-3 offset-md-1">
	<div class="row">
		<div class="col-12 profile">
			<p><%= attachment_image_tag user, :image, :fill, 100, 100, format: 'jpeg', class: "prof-img" %></p>
			<p>こんにちは<br>
				<i class="fa fa-user"></i> <%= user.name %>
				さん
			</p>
			<p>保有チケット<br><i class="fa fa-ticket"></i> x <%= user.ticket %></p>
		</div>
	</div>
	<div class="row">
		<div class="col">
		</div>
	</div>
</div>